a:link {
    text-decoration: none;
}


a:visited {
    text-decoration: none;
}


a:hover {
    text-decoration: none;
    color: chocolate;
}


a:active {
    text-decoration: none;
}

a {
    text-decoration: none;
}

nav {
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    /* Full height */
    /* position: fixed; Make it stick, even on scroll */
    /* overflow: auto; Enable scrolling if the sidenav has too much content */

}

nav a {
    display: block;
    width: min-content;
    font-family: 'Amatic SC', cursive;
    font-size: xx-large;
    white-space: nowrap;
    color: burlywood;
    padding: 5%;
}

#nameTitle {
    font-size: 5em;
    margin: 0 0 100px 0;
}

.modal-footer {
    border-top: none;
}

.modal-header {
    border-bottom: none;
}

.modalLinks {
    margin: 0 50px;
}

.modalTitle {
    font-family: 'Amatic SC', cursive;
    font-size: 5em;
    color: burlywood;
}

.aboutText {
    color: burlywood;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

.aboutImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignment {
    text-align: center;
}

.frame {
    height:450px;
    width:auto;
    overflow:hidden;
    margin: 15px 0;
  }

  .zoom img{
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
  }

  .zoom img:hover {
    filter: brightness(100%);
    transform: scale(1.3);
  }

  .columnBorder {
    border-top: 4px groove burlywood;
  }

.workImage {
align-content: center;
}

  .imageText {
    text-align: center;
    color:burlywood;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    margin:20px auto;
  }

.contactBody {
    padding : 0;
}

.resumeTitles {
    color: chocolate;
}

.resumeSubtitles {
    color: burlywood;
}

.resumeText {
    font-family: 'Open Sans', sans-serif;
}

.resumeLink {
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.noMargins {
    margin: 0;
}

.educationList {
    list-style: none;
}

/* @media screen and (max-width:1600) {

} */

@media screen and (max-width:1200px) {
.aboutText {
    font-size: 1.5em;

}
}